
body {
  /*background-color: #222d2d;*/
  /*background-image: url("./code18.png");*/
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center center;
 font-family: 'Rock Salt';
 font-size: 15;
}
p{
	text-align: center;
}

input{
  text-align: center;
  background-color: brown;
  color: white;
} 

#Estados{
	color: green;
}

#Salida{
	color: red;
}

#Entrada{
	text-align: center;
}

#InicioMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: blue;

}
#EstadosMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: green;
}
#EntradasMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: green;
}
#SalidasMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: red;
}

#network{
  width: 1260px;
  height: 500px;
}

#network2{
  width: 1260px;
  height: 500px;
}

table{
  border: 2px green solid;
  /*border-collapse: separate;*/
  border-spacing: 5px;
	text-align: center;
  margin: 0px;
  float: center;


}

.opciones{
	width: auto;
    height: 50px;
    margin: auto;
    padding: 10px;
    
}
#contenedor{
    width: auto;
    height: 200px;
}

.cels{
  /*padding: 0px;
  margin: 0px;*/
}

.btn {

	width: 180px;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: green;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

.btn:hover {
  	text-decoration: underline;
}
